.next, .previous{
  display: inline-block;
  margin-bottom: 30px;
  padding: 5px 30px;
  background-color: #a2d5f2;
  border-radius: 12px;
  border: none;
  width: 10%;
  font-weight: bold;
  color: #005086;

}

button:hover {
background-color: #318fb5;
}

.canvas {
  display: block;
  position: relative;
}

.btn-group{
  display: block;
  position: relative;
}

.level{
  width: 5%;
  display: inline-block;
  text-align: center;
}
